# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist.crx
demo audio.mp3
#src
#public
./index.html
.eslintrc.cjs
#package*
#postcss*
#tailwind.config.js
#tsconfig.*json
#vite.config.ts
private_key.pem
#VITE_README.md
#dist-ssr
#*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
