@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --test-variable: #fff
}

body,html,#root {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html,#root {
    height: 100%;
}
#root {
    position: relative;
}
html {
    background-color: transparent;
}
body {
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 0px 0px 6px 6px;
}